
@{
    Layout = null;
    string pageTitle = "ContentPage";
    string ContentPage_ControlNameUrl = "ContentPage";
    string FormName = "frm_" + ContentPage_ControlNameUrl + "_";
    int ContentPage_idUrl = Context.Request.Query["id"].ToInt();
    var ContentPage_idUrl_select = Context.Request.Query["selectid"].ToStr();
    string title = ContentPage_idUrl > 0 ? ("İçerik " + " Düzenle") : (pageTitle + " Kaydet");

    var edit = ViewBag.edit as ContentPage;
    if (edit == null)
    {
        edit = new ContentPage();
    }
    else
    {
        ContentPage_idUrl_select = edit.ParentId.ToStr();
    }

}

<script type="text/javascript">

    var ContentPage_FormName = "@Html.Raw(FormName)";
    var ContentPage_ControlNameUrl = "@ContentPage_ControlNameUrl";
    var ContentPage_idUrl = "@ContentPage_idUrl";
    var ContentPage_idUrl_select ="@ContentPage_idUrl_select";
    var ContentPageType = "@edit.ContentPageType";

    var ContentPageKurumId = "@edit.KurumId";
    var ContentPageSubeId = "@edit.SubeId";

</script>



<style>
    .modal-dialog {
        width: 75% !important;
    }
</style>



<!-- begin:: Content -->
<div style="width:100%;" class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">

                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw("İçerik")
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form name="@FormName" id="@FormName">
                <div class="form-horizontal">
                    <input type="hidden" id="Id" name="Id" value="@edit.Id" />
                    <input type="hidden" id="IsDeleted" name="IsDeleted" value="@edit.IsDeleted" />
                    <input type="hidden" id="IsStatus" name="IsStatus" value="@edit.IsStatus" />
                    @*<input type="hidden" id="KurumId" name="KurumId" value="1" />*@
                    <input type="hidden" id="SubeId" name="SubeId" value="@edit.SubeId" />


                    <div class="form-group">
                        <label class="control-label col-md-2">Kurum</label>
                        <div class="col-md-10">
                            <select required class="form-control" id="dp_KurumId" name="dp_KurumId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Şube</label>
                        <div class="col-md-10">
                            <select class="form-control" id="dp_SubeId" name="dp_SubeId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Name">@Html.Raw("Ad".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Name" name="Name" placeholder="@Html.Raw("Ad".Trans())" value="@edit.Name" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Üst Kategori/Sayfa</label>
                        <div class="col-md-10">
                            <select class="form-control" id="dp_ParentId" name="dp_ParentId"></select>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-md-2">Tip</label>
                        <div class="col-md-10">
                            <select required class="form-control" id="dp_ContentPageType" name="dp_ContentPageType"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" for="Link">@Html.Raw("Link".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Link" name="Link" placeholder="@Html.Raw("Link".Trans())" value="@edit.Link" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="MetaKeywords">@Html.Raw("MetaKeywords".Trans())</label>
                        <div class="col-md-10">
                            <input id="MetaKeywords" name="MetaKeywords" placeholder="@Html.Raw("MetaKeywords".Trans())" value="@edit.MetaKeywords" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="MetaDescription">@Html.Raw("MetaDescription".Trans())</label>
                        <div class="col-md-10">
                            <input id="MetaDescription" name="MetaDescription" placeholder="@Html.Raw("MetaDescription".Trans())" value="@edit.MetaDescription" class="form-control" type="text">
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input @Html.Raw(edit.IsHeaderMenu == true ? "checked='checked'" : "") id="IsHeaderMenu" name="IsHeaderMenu" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="IsHeaderMenu">@Html.Raw("IsHeaderMenu".Trans())</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input @Html.Raw(edit.IsFooterMenu == true ? "checked='checked'" : "") id="IsFooterMenu" name="IsFooterMenu" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="IsFooterMenu">@Html.Raw("IsFooterMenu".Trans())</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input @Html.Raw(edit.IsSideMenu == true ? "checked='checked'" : "") id="IsSideMenu" name="IsSideMenu" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="IsSideMenu">@Html.Raw("IsSideMenu".Trans())</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input @Html.Raw(edit.IsHamburgerMenu == true ? "checked='checked'" : "") id="IsHamburgerMenu" name="IsHamburgerMenu" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="IsHamburgerMenu">@Html.Raw("IsHamburgerMenu".Trans())</label>
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentShort">@Html.Raw("Kısa İçerik".Trans())</label>
                        <div class="col-md-10">
                            <input id="ContentShort" name="ContentShort" placeholder="@Html.Raw("Kısa İçerik".Trans())" value="@edit.ContentShort" class="form-control" type="text">
                        </div>
                    </div>




                    <div class="form-group row">
                        <div class="col-md-12">
                            <input multiple for="DefaultImage" id="file_DefaultImage" type="file" value="@edit.DefaultImage">
                        </div>
                        @*<div class="col-md-9">
                                <input type="text" class="form-control" name="DefaultImage" id="DefaultImage" value="@edit.DefaultImage">
                            </div>*@
                    </div>

                    @if (edit.Documents.Any())
                    {
                        <div style="border: solid 1px #ccc;border-radius:3px;margin:5px;overflow-y:scroll;" class="form-group row">
                            <div class="col-md-12">
                                @foreach (var image in edit.Documents)
                                {
                                    var link = "uploads/" + image.Link;
                                    <div dataid="@image.Id" style="border: solid 1px #ccc;border-radius:3px;float:left;margin:5px;">
                                        <img src="@link" dataid="@image.Id" name="@image.Name" alt="@image.Alt" title="@image.Title" width="100" height="100" />
                                        <a href="javascript:;" dataid="@image.Id" class="deleteImage"><i style="margin:5px !important; " class="far fa-trash-alt"></i></a>
                                    </div>

                                }
                            </div>
                        </div>
                    }



                    <div class="form-group">
                        <label class="control-label col-md-2" for="Content">@Html.Raw("İçerik".Trans())</label>
                        <div class="col-md-10">
                            <textarea id="Content" name="Content" placeholder="@Html.Raw("İçerik".Trans())" class="form-control">@Html.Raw(edit.Content)</textarea>
                        </div>
                    </div>


                    @*<div class="form-group">
                            <label class="control-label col-md-2" for="BannerText">@Html.Raw("BannerImage".Trans())</label>
                            <div class="col-md-10">
                                <input id="BannerImage" name="BannerImage" placeholder="@Html.Raw("BannerImage".Trans())" value="@edit.BannerImage" class="form-control" type="text">
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            <label class="control-label col-md-2" for="BannerText">@Html.Raw("BannerText".Trans())</label>
                            <div class="col-md-10">
                                <input id="BannerText" name="BannerText" placeholder="@Html.Raw("BannerText".Trans())" value="@edit.BannerText" class="form-control" type="text">
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText1">@Html.Raw("Buton yazısı 1".Trans())</label>
                        <div class="col-md-10">
                            <input id="ButtonText1" name="ButtonText1" placeholder="@Html.Raw("Buton yazısı 1".Trans())" value="@edit.ButtonText1" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText1Link">@Html.Raw("Buton yazısı Linki 1".Trans())</label>
                        <div class="col-md-10">
                            <input id="ButtonText1Link" name="ButtonText1Link" placeholder="@Html.Raw("Buton yazısı Linki 1".Trans())" value="@edit.ButtonText1Link" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText2">@Html.Raw("Buton yazısı 2".Trans())</label>
                        <div class="col-md-10">
                            <input id="ButtonText2" name="ButtonText2" placeholder="@Html.Raw("Buton yazısı 2".Trans())" value="@edit.ButtonText2" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText2Link">@Html.Raw("Buton yazısı Linki 2".Trans())</label>
                        <div class="col-md-10">
                            <input id="ButtonText2Link" name="ButtonText2Link" placeholder="@Html.Raw("Buton yazısı Linki 2".Trans())" value="@edit.ButtonText2Link" class="form-control" type="text">
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-9">
                            <input id="btnOK" type="submit" value="Kaydet" class="btn btn-brand btn-elevate btn-icon-sm" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- end:: Content -->



<script type="text/javascript">
    var ContentPage_EditFunc;
    
    $(function () {
        ContentPage_EditFunc = {
            GetKurum: function () {
                $('#dp_KurumId').addOptionAjax('/Kurum' + "/GetSelect", "", "value", "text", function () { ContentPage_EditFunc.GetSube(); }, function () { ContentPage_EditFunc.GetSube(); }, ContentPageKurumId, '', 'Seçiniz');
            },
            GetSube: function () {
                $('#dp_SubeId').addOptionAjax('/Sube' + "/Getlist", { id: ($('#dp_KurumId').val() == "" ? 0 : $('#dp_KurumId').val()) }, "value", "text", function () { }, function () { }, ContentPageSubeId, '', 'Seçiniz');
            },
            GetParent: function () {
                $('#dp_ParentId').addOptionAjax(ContentPage_ControlNameUrl + "/GetParent", "", "value", "text", function () { }, function () { }, ContentPage_idUrl_select, '', 'Seçiniz');
            },
            load: function () {

                $('#' + ContentPage_FormName + ' textarea').each(function () {
                    if (CKEDITOR.instances[$(this).attr('name')])
                        CKEDITOR.instances[$(this).attr('name')].destroy();

                    CKEDITOR.replace($(this).attr('name'), {});
                });

                $('#Name').ceo({ target: '#Link' });
                $('#Name').ceo({ target: '#MetaKeywords' });
                $('#Name').dup({ target: '#MetaDescription' });




                ContentPage_EditFunc.GetKurum();
                ContentPage_EditFunc.GetParent();

                $('#' + ContentPage_FormName).submit(function (e) {
                    e.preventDefault();

                    var postModel = $.fn.toForm("#" + ContentPage_FormName);

                    var fileUpload = $('#' + 'file_DefaultImage').get(0);
                    var files = fileUpload.files;

                    var maxFiles = 1;

                    if (postModel.ContentPageType == ContentPageTypeEnum.sliderUst || postModel.ContentPageType == ContentPageTypeEnum.sliderAlt
                        || postModel.ContentPageType == ContentPageTypeEnum.haberler
                        || postModel.ContentPageType == ContentPageTypeEnum.haberler3
                        || postModel.ContentPageType == ContentPageTypeEnum.etkinlikler
                        || postModel.ContentPageType == ContentPageTypeEnum.etkinlikler3
                    ) {
                        maxFiles = 10;
                    }
                    else if (postModel.ContentPageType == ContentPageTypeEnum.galeri) {
                        maxFiles = 4;
                    }
                    else {
                        maxFiles = 1;
                    }



                    if (files.length > maxFiles) {
                        alert('Lütfen Maksimum ' + maxFiles + ' görsel ekleyiniz.');
                        return;
                    }

                    var totalImage = ($('.deleteImage[dataid]').length + files.length);
                    if (totalImage > maxFiles) {
                        alert($('.deleteImage[dataid]').length + ' adet görsel mevcut. Lütfen Maksimum ' + maxFiles + ' görsek ekleyiniz.');
                        return;
                    }

                    if (maxFiles > 1 && totalImage < 1) {
                        alert('Lütfen görsel ekleyiniz.');
                        return;
                    }

                    var fileData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        fileData.append('files', files[i]);
                    }

                    fileData.append('postmodel', JSON.stringify(postModel));

                    $.LoadingOverlay("show");

                    $.ajxUpload(ContentPage_ControlNameUrl + "/InsertOrUpdate", fileData, function (resultData) {
                        if (resultData.ResultType.RType != 3) {
                            ContentPage_ListFunc.GetPaging();
                            $("#ajaxSub button[data-dismiss='modal']").click();
                        }
                        else {
                            alerts(resultData.ResultType.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });

                $(".deleteImage").click(function () {
                    var id = $(this).attr("dataid");
                    alerts("Resimi silmek istediğinize emin misiniz ? ", "yesno", function (result) {
                        if (result == true) {
                            $.LoadingOverlay("show");
                            $.ajx(ContentPage_ControlNameUrl + '/DeleteImage', { id: id }, function (resultID) {
                                $('div[dataid="' + resultID + '"]').remove();
                                $.LoadingOverlay("hide");
                            });
                        }
                    });


                });



            },



        };
        ContentPage_EditFunc.load();
    });


    //ayarlar();
</script>



