@{
    var kurum = HttpContextAccessor.HttpContext.Session.Get<Kurum>("kurum");
    var sube = HttpContextAccessor.HttpContext.Session.Get<Sube>("sube");


    var baslik = sube == null ? kurum.Ad : sube.Ad;
    var adres = sube == null ? kurum.Adres : sube.Adres;
    var telefon = sube == null ? kurum.Telefon : sube.Telefon;

    var telefon_link = "tel://" + telefon;

    var maps = sube == null ? kurum.Maps : sube.Maps;

    var Facebook = kurum.Facebook;
    var Twitter = kurum.Twitter;
    var Instagram = kurum.Instagram;
    var Youtube = kurum.Youtube;
    var Pinterest = kurum.Pinterest;

    var sube_Facebook = sube.Facebook;
    var sube_Twitter = sube.Twitter;
    var sube_Instagram = sube.Instagram;
    var sube_Youtube = sube.Youtube;
    var sube_Pinterest = sube.Pinterest;

}


<div class="container">
    <div class="row">
        <!-- Start Sidebar -->
        <div class="col-lg-3 order-2 order-lg-1">
            <div style="position: fixed;width: 15%;" class="sidebar__widgets sidebar--left">

                @Html.Partial("~/Views/Base/OnKayitSube.cshtml")


            </div>
        </div>
        <!-- End Sidebar -->

        <div class="col-lg-9 order-1 order-lg-2">



            <div class="class__quality__desc with--leftsidebar">

            </div>
            <div class="class-details-inner">
                <div class="courses__inner">
                    <div class="row">
                        <div class="col-lg-7">
                            <h3>

                                @baslik


                            </h3>

                        </div>
                        <div class="pull-right">

                            <a href="@telefon_link">
                                <span style="font-size:30px;color: #32a52c;text-align:center;">
                                    <i aria-hidden="true" class="fa fa-phone fa-4"></i>
                                    Şubeyi Ücretsiz Ara
                                </span>
                            </a>

                        </div>
                        <div style="margin-bottom: 0px !important; margin-top: 0px !important;" class="footer__social__icon">
                            <ul class="dacre__social__link--2 d-flex justify-content-start">
                                <li class="facebook"><a target="_blank" href="@sube_Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="@sube_Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="@sube_Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="@sube_Youtube"><i class="fa fa-youtube"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="@sube_Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <hr />




                <div class="col-lg-12 order-2 order-lg-1">
                    <div class="sidebar__widgets sidebar--left">
                        <br />

                        <div class="ftr__address">
                            <div class="ftr_icon">
                                <i class="fa fa-home"></i>
                                <span style="color:black;"> ADRES :@Html.Raw(adres)</span>
                            </div>

                        </div>
                        <div class="ftr__address">
                            <div class="ftr_icon">
                                <i class="fa fa-phone"></i>
                                <span style="color:black;">   TELEFON :  <a href="tel:@telefon">@Html.Raw(telefon)</a></span>
                            </div>
                            <br />
                        </div>

                        <div>

                        </div>
                        <br />

                        @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.galeri })

                        <hr />

                        @if (!string.IsNullOrEmpty(maps))
                        {
                            @Html.Raw(maps)
                            <style>
                                iframe {
                                    height: 400px !important;
                                    width: 100% !important;
                                }
                            </style>
                        }

                    </div>

                    @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.etkinlikler })

                    @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.haberler })


                </div>

            </div>
        </div>

    </div>
</div>

<style>
    .slider--four.slider__fixed--height {
        height: 304px !important;
    }
</style>



