@using Entity
@{
    Layout = null;
    string pageTitle = "HesapTip";
    string HesapTip_ControlNameUrl = "HesapTip";
    string FormName = "frm_" + HesapTip_ControlNameUrl + "_";
    int HesapTip_idUrl = Context.Request.Query["id"].ToInt();
    var HesapTip_idUrl_select = Context.Request.Query["selectid"].ToStr();
    string title = HesapTip_idUrl > 0 ? (pageTitle + " Düzenle") : (pageTitle + " Kaydet");

    var edit = ViewBag.edit as HesapTip;
    if (edit == null)
    {
        edit = new HesapTip();
    }
    else
    {
        //HesapTip_idUrl_select = edit.KasaTipId.ToStr();
    }

}

<script type="text/javascript">
        var HesapTip_FormName = "@Html.Raw(FormName)";
        var HesapTip_ControlNameUrl = "@HesapTip_ControlNameUrl";
    var HesapTip_idUrl = @HesapTip_idUrl;

</script>



<style>
    .modal-dialog {
        width: 75% !important;
    }
</style>



<!-- begin:: HesapTip -->
<div style="width:100%;" class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">

                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(title)
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form name="@FormName" id="@FormName">
                <div class="form-horizontal">
                    <input type="hidden" id="Id" name="Id" value="@edit.Id" />
                    <input type="hidden" id="IsDeleted" name="IsDeleted" value="@edit.IsDeleted" />
                    <input type="hidden" id="IsStatus" name="IsStatus" value="@edit.IsStatus" />
                    <input type="hidden" id="KurumId" name="KurumId" value="1" />



                    <div class="form-group">
                        <label class="control-label col-md-2" for="Ad">@Html.Raw("Adı".Trans())</label>
                        <div class="col-md-10">
                            <input required id="HesapTipName" name="Ad" placeholder="@Html.Raw("HesapTip Adı".Trans())" value="@edit.Ad" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Ad">@Html.Raw("Gelir Gider Tipi".Trans())</label>
                        <div class="col-md-10">
                            <select required id="dp_GelirGiderTipi" name="dp_GelirGiderTipi" class="form-control">
                                <option value="1">Gelir</option>
                                <option value="2">Gider</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-9">
                            <input id="btnOK" type="submit" value="@title" class="btn btn-brand btn-elevate btn-icon-sm" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- end:: HesapTip -->





<script type="text/javascript">
    var HesapTip_EditFunc;
    var customComment = "";
    $(function () {
        HesapTip_EditFunc = {
            load: function () {
                HesapTip_EditFunc.GetParent();

                $('#' + HesapTip_FormName).submit(function (e) {
                    e.preventDefault();
                    var postModel = $.fn.toForm("#" + HesapTip_FormName);
                    $.LoadingOverlay("show");

                    $.ajx(HesapTip_ControlNameUrl + "/InsertOrUpdate", { postModel: postModel }, function (resultData) {
                        if (resultData.ResultType.RType != 3) {
                            HesapTip_ListFunc.GetPaging();
                            $("#ajaxSub button[data-dismiss='modal']").click();
                        }
                        else {
                            alerts(resultData.ResultType.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });
            },



        };
        HesapTip_EditFunc.load();
    });


    //ayarlar();
</script>



