@{
    Layout = null;
    var contents = ((List<ContentPage>)ViewBag.contents).FirstOrDefault();
}

@if (contents != null && contents.Documents.Count > 0)
{
    @*<link rel="stylesheet" href="~/sliderjs/screen.css" type="text/css" media="all" title="Screen">*@
    <link rel="stylesheet" href="~/sliderjs/jquery.rondell.css" type="text/css" media="all" title="Screen">
    <script src="~/sliderjs/modernizr-2.0.6.min.js"></script>

    <div  class="column size1of2">
        <div  id="rondellTopDemo" class="showOnJS hidden">
            @foreach (var item in contents.Documents)
            {
                var image = item.Link != null && item.Link.Contains("http") ? item.Link : SessionRequest.ImageUrl + item.Link;
                <a style="z-index:999999;" target="_blank" rel="rondell_1" href="@image" title="@item.Title"> <img src="@image" alt="@item.Alt" title="@item.Title" /></a>
            }
        </div>
    </div>

    <script src="~/sliderjs/jquery.mousewheel-3.0.6.min.js"></script>
    <script src="~/sliderjs/jquery.rondell.js"></script>

    <script type="text/javascript">
        (function () {
            $("#rondellTopDemo > *").rondell({
                preset: "carousel",
                radius: {
                    x: 300
                },
                center: {
                    //left: 450,
                    //top: 150
                },
                itemProperties: {
                    size: {
                        width: 200,
                        height: 150
                    }
                }
            });

        }).call(this);

        $('.rondell-control.rondell-shift-left').html('Geri');
        $('.rondell-control.rondell-shift-left').css('font-size','18px');
        $('.rondell-control.rondell-shift-right').html('İleri');
        $('.rondell-control.rondell-shift-right').css('font-size','18px');

    </script>

}
