@{
    Layout = null;
    var contents = ((List<ContentPage>)ViewBag.contents).FirstOrDefault();
}

@if (contents != null && contents.Documents.Count > 0)
{

    <div class="slide__carosel owl-carousel owl-theme">
        @foreach (var item in contents.Documents)
        {
            var image = item.Link != null && item.Link.Contains("http") ? item.Link : SessionRequest.ImageUrl + item.Link;

            var target = contents.Link != null && contents.Link.Contains("http") ? "_blank" : "";
            var link = (string.IsNullOrEmpty(contents.Link) ? "javascript:void();" : SessionRequest.baseUrl + contents.Link);
            var cursor = string.IsNullOrEmpty(contents.Link) ? "cursor:default;" : "";


            <div style="background-repeat: no-repeat;background-size: cover; background-position: center center;background-image: url('@Html.Raw(image)');" class="slider__area slider--four d-flex slider__fixed--height justify-content-start align-items-center">
                <div style="margin-left: 0px;" class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="slider__activation">
                                <!-- Start Single Slide -->
                                <div class="slide">
                                    <div class="slide__inner">
                                        <div style="width:45% !important;background:#000000;opacity:0.4 !important;z-index:9998 !important;color:#ffffff !important;border-radius:5px;padding:10px;">
                                            <h1 style="font-size: 41px;z-index:9999 !important;color:#ffffff !important;">@Html.Raw(contents.Name) </h1>

                                            @if (!string.IsNullOrEmpty(contents.Content))
                                            {
                                                <p style="z-index:9999 !important;color: #ffffff !important; font-size:28px !important;font-weight:bold !important;">@Html.Raw(contents.Content)</p>
                                            }

                                            @if (!string.IsNullOrEmpty(contents.ButtonText1))
                                            {
                                                <div style="z-index:9999 !important;color:#ffffff !important;" class="slider__btn">
                                                    <a style="color:#ffffff !important;" class="dcare__btn max__height-btn hover--theme-white" href="@contents.ButtonText1Link">@Html.Raw(contents.ButtonText1)</a>
                                                </div>
                                            }

                                            @if (!string.IsNullOrEmpty(contents.ButtonText2))
                                            {
                                                <div style="z-index:9999 !important;color:#ffffff !important;" class="slider__btn">
                                                    <a style="color:#ffffff !important;" class="dcare__btn max__height-btn hover--theme-white" href="@contents.ButtonText2Link">@contents.ButtonText2</a>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                </div>
                                <!-- End Single Slide -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

}