@{
    var kurum = HttpContextAccessor.HttpContext.Session.Get<Kurum>("kurum");
    var sube = HttpContextAccessor.HttpContext.Session.Get<Sube>("sube");

    var baslik = sube == null ? kurum.Ad : sube.Ad;
    var adres = sube == null ? kurum.Adres : sube.Adres;
    var telefon = sube == null ? kurum.Telefon : sube.Telefon;
    var maps = sube == null ? kurum.Maps : sube.Maps;
    var anal = sube == null ? kurum.GoogleAnalytic : sube.GoogleAnalytic;

    var Facebook = sube == null ? kurum.Facebook : sube.Facebook;
    var Twitter = sube == null ? kurum.Twitter : sube.Twitter;
    var Instagram = sube == null ? kurum.Instagram : sube.Instagram;
    var Youtube = sube == null ? kurum.Youtube : sube.Youtube;
    var Pinterest = sube == null ? kurum.Pinterest : sube.Pinterest;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="fen bilimleri, fen, okul, fen merkezi, özel okul, fen eğitimi, fen" />
    <meta name="description" content="Fen Bilimleri Merkezi eğitim Kurumu" />
    <meta name="author" content="http://fenbilimlerimerkezi.dyness.com.tr" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="fb:app_id" content="1037724072951294" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Fen Bilimleri Merkezi">
    <meta property="og:title" content="İletişim | Fen Bilimleri Merkezi">
    <meta property="og:description" content="Fen Bilimleri Merkezi eğitim Kurumu">
    <meta property="og:url" content="http://fenbilimlerimerkezi.dyness.com.tr/iletisim">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:image" content="http://fenbilimlerimerkezi.dyness.com.tr/content/img/logo.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="http://fenbilimlerimerkezi.dyness.com.tr/">
    <meta name="twitter:title" content="İletişim | Fen Bilimleri Merkezi">
    <meta name="twitter:url" content="http://fenbilimlerimerkezi.dyness.com.tr/iletisim">
    <meta name="twitter:description" content="Fen Bilimleri Merkezi eğitim Kurumu">
    <meta name="twitter:image" content="http://fenbilimlerimerkezi.dyness.com.tr/content/img/logo.png" />
    <title>İletişim | Fen Bilimleri Merkezi</title>
    <base href="/">

    <!-- Favicons -->
    <link href="Content/img/favicon.ico" rel="shortcut icon" />
    <link href="Content/img/favicon.ico" rel="apple-touch-icon">
    <!-- Google font (font-family: 'Lobster', Open+Sans;) -->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="style.css?v=@SessionRequest.StyleVersion">

    <!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css?v=@SessionRequest.StyleVersion">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>

    <script src="js/vendor/jquery-3.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js" type="text/javascript"></script>

    <script>
        var baseUrl = '/' + location.pathname.split('/')[1] + '/';
    </script>


    @Html.Raw(anal)

</head>
<body>

    <style>
        A.applink:hover {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            background-color: #ffff00;
            color: green;
            text-decoration: none
        }

        A.applink {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            color: #2F5BFF;
            background: transparent;
            text-decoration: none
        }

        A.info {
            color: #2F5BFF;
            background: transparent;
            text-decoration: none
        }

            A.info:hover {
                color: green;
                background: transparent;
                text-decoration: underline
            }
    </style>


    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">


        @Html.Partial("~/Views/Base/_Header.cshtml")

        @RenderBody()

        @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.row4 })


        @Html.Partial("~/Views/Base/_Footer.cshtml")

        @Html.Partial("~/Views/Base/OnKayitAnaSayfa.cshtml")

    </div><!-- //Main wrapper -->
    <!-- JS Files -->

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

    <script src="js/general.js?v=@SessionRequest.StyleVersion" type="text/javascript"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
