
@{
    Layout = null;
    string pageTitle = "Role";
    string Role_ControlNameUrl = "Role";
    string FormName = "frm_" + Role_ControlNameUrl + "_";
    int Role_idUrl = Context.Request.Query["id"].ToInt();
    var Role_idUrl_select = Context.Request.Query["selectid"].ToStr();
    string title = Role_idUrl > 0 ? (pageTitle + " Düzenle") : (pageTitle + " Kaydet");

    var edit = ViewBag.edit as Role;
    if (edit == null)
    {
        edit = new Role();
    }
    else
    {
        //Role_idUrl_select = edit.KurumId.ToStr();
    }

}

<script type="text/javascript">
        var Role_FormName = "@Html.Raw(FormName)";
        var Role_ControlNameUrl = "@Role_ControlNameUrl";
    var Role_idUrl = @Role_idUrl;

    var edit = @Html.Raw(Json.Serialize(edit));

</script>



<style>
    .modal-dialog {
        width: 75% !important;
    }
</style>



<!-- begin:: Content -->
<div style="width:100%;" class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">

                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(title)
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form name="@FormName" id="@FormName">
                <div class="form-horizontal">

                    @Html.Raw(edit.DynamicInputHelper(new string[] { }, new string[] { "" }))

                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-9">
                            <input id="btnOK" type="submit" value="@title" class="btn btn-brand btn-elevate btn-icon-sm" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- end:: Content -->





<script type="text/javascript">
    var Role_EditFunc;
    var customComment = "";

    $(function () {
        Role_EditFunc = {
            load: function () {

                $('#' + Role_FormName).submit(function (e) {
                    e.preventDefault();
                    var postModel = $.fn.toForm("#" + Role_FormName);

                    $.LoadingOverlay("show");

                    $.ajx(Role_ControlNameUrl + "/InsertOrUpdate", { postModel: postModel }, function (resultData) {
                        if (resultData.ResultType.RType != 3) {
                            Role_ListFunc.GetPaging();
                            $("#ajaxSub button[data-dismiss='modal']").click();
                        }
                        else {
                            alerts(resultData.ResultType.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });
            },



        };
        Role_EditFunc.load();
    });


    //ayarlar();
</script>



