@{
    Layout = null;
    var contents = (List<ContentPage>)ViewBag.contents;
    var i = 0;
}

@if (contents.Count > 0)
{
    <!-- Start Our Event Area -->
    <section class="dcare__event__area bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title--2">
                        <h2 class="title__line" data-shadow="Haberler / Duyurular">Haberler / Duyurular</h2>

                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Event -->
                @foreach (var item in contents)
                {
                   var documents = item.Documents.FirstOrDefault();
                    var image = documents.Link != null && documents.Link.Contains("http") ? documents.Link : SessionRequest.ImageUrl + documents.Link;

                    var target = item.Link != null && item.Link.Contains("http") ? "_blank" : "";
                    var link = (string.IsNullOrEmpty(item.Link) ? "javascript:void();" : SessionRequest.baseUrl + item.Link);
                    var cursor = string.IsNullOrEmpty(item.Link) ? "cursor:default;" : "";

                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="dcare__event">
                            <div class="event__thumb">
                                <a target="@target" href="@link">
                                    <img  style="height: 180px !important;"  src="@image" alt="event images">
                                </a>
                            </div>
                            <div class="event__content">
                                <div class="event__pub">

                                    <ul class="event__time">
                                        <li>
                                            <i style="float:right;" class="fa fa-home">
                                                @item.Name
                                            </i>
                                        </li>

                                    </ul>

                                    <ul class="event__time">
                                        <li>
                                            <i style="float:right;" class="fa fa-clock-o">
                                                @Html.Raw(item.CreaDate.Day + "-" + item.CreaDate.Month + "-" + item.CreaDate.Year)
                                            </i>
                                        </li>

                                    </ul>

                                </div>

                                <div class="event__inner">
                                    <h4><a target="@target" href="@link">@Html.Raw(item.ContentShort.limit(75))</a></h4>
                                </div>

                                <ul class="event__btn">
                                    <li> <a target="@target" href="@link">İncele </a></li>
                                    <li><a href="javascript:;">Haberi Paylaş</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Event -->
                    <!-- Start Single Event -->
                }
            </div>
        </div>
    </section>
    <!-- End Our Event Area -->

}