@{
    var content = ViewBag.content as List<ContentPage>;


}

@if (content.Any(o => o.ContentPageType == ContentPageType.row1 || o.ContentPageType == ContentPageType.formlar))
{
    var row = content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row1 || o.ContentPageType == ContentPageType.formlar);

    <header ctype="@row.ContentPageType.ExGetDescription()" class="video-wrapper">
        <div class="video-loader" style="display: none;">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
        <video id="header-video" class="b-lazy b-loaded" playsinline="" autoplay="" muted="" loop="" src="@row.VideoLink">
        </video>
        <div class="overlay">
            <div class="container">
                <div class="main-title text-center">
                    <h1 class="font-lighter mb-90">@Html.Raw(row.Name)</h1>
                    <div class="hb">
                        <a href="@row.Link" class="discover-now button button-filled">@row.ButtonText1 <i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
}



@if (content.Any(o => o.ContentPageType == ContentPageType.row2))
{
    var i = -1;
    foreach (var row in content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row2).ContentPageChilds.OrderBy(o => o.ContentOrderNo).ThenBy(o => o.Name))
    {
        i++; var j = 0;

        <section ctype="@row.ContentPageType.ExGetDescription()" id="div_@row.Id" class="info p-90-0-90">
            <div class="dots dots-@Html.Raw(i % 2 == 0 ? "right" : "left")"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 order-last order-lg-first col-lg-5">
                        <h2 style="font-size: 44px;" class="font-lighter secondary-color mb-30">@row.Name</h2>
                        <p class="description secondary-color mb-30">
                            @Html.Raw(row.ContentShort)
                        </p>
                        <a href="@row.Link" class="button button-filled">Detay<i class="fas fa-chevron-right"></i></a>
                    </div>

                    <div class="col-12 order-first order-lg-last col-lg-7 info-carousel">
                        <div id="divsub_@row.Id" class="carousel slide carousel-fade" data-ride="carousel">

                            <div class="carousel-inner">

                                @foreach (var image in row.Documents)
                                {
                                    j++;
                                    var imageUrl = image.Link != null && image.Link.Contains("http") ? image.Link : SessionRequest.ImageUrl + image.Link;
                                    <div class="carousel-item @Html.Raw(j==1 ? "active":"")" data-interval="3000">
                                        <a href="@row.Link" class="">     <img src="@imageUrl" title="@image.Title" alt="@image.Alt" class="d-block w-100"></a>
                                    </div>
                                }
                            </div>
                            <a class="carousel-control-prev" href="#divsub_@row.Id" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left"></i>
                                <span class="sr-only">Geri</span>
                            </a>
                            <a class="carousel-control-next" href="#divsub_@row.Id" role="button" data-slide="next">
                                <i class="fas fa-chevron-right"></i>
                                <span class="sr-only">İleri</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

}


@if (content.Any(o => o.ContentPageType == ContentPageType.row3))
{
    <section ctype="@ContentPageType.row3.ExGetDescription()" class="career parallax-window" data-parallax="scroll" data-image-src="/img/anasayfa/1.jpg">
        <div class="overlay p-90-0-90">
            <div class="container">
                <div class="row mb-60">
                    <div class="col-12 col-lg-6">
                        <div class="section-title text-left text-lg-left">
                            <h2 class="font-lighter color-white mb-30"><span class="font-bold">@content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row3).Name</span></h2>
                        </div>
                    </div>
                </div>
                <div class="career-carousel mb-60">
                    <div class="swiper-container swiper-container-horizontal" style="cursor: grab;">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            @foreach (var row in content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row3).ContentPageChilds.OrderBy(o => o.ContentOrderNo).ThenBy(o => o.Name))
                            {

                                <div class="swiper-slide" style="width: 316px; margin-right: 30px;">
                                    <a href="@row.Link" class="clickable-card">

                                        <div class="card career-card">
                                            <div class="card-header align-items-center">
                                                <h5>@row.Name</h5>
                                                <div class="line"></div>
                                            </div>
                                            <div style="max-height:88px !important;" class="card-body">
                                                <p>
                                                    @Html.Raw(row.ContentShort)
                                                </p>
                                            </div>

                                            <div class="card-footer">
                                                <a href="javascript:;" class="clickable-card">
                                                </a><a href="@row.Link" class="button button-link"> <i class="fas fa-check"></i></a>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            }
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <a href="/#" class="career-carousel-control career-control-left swiper-button-disabled" role="button" tabindex="0" aria-label="Previous slide" aria-disabled="true">
                    <span><i class="fas fa-chevron-left"></i></span>
                    <span class="sr-only">Geri</span>
                </a>
                <a href="/#" class="career-carousel-control career-control-right" role="button" tabindex="0" aria-label="Next slide" aria-disabled="false">
                    <span><i class="fas fa-chevron-right"></i></span>
                    <span class="sr-only">İleri</span>
                </a>
            </div>
        </div>
    </section>
}


@if (content.Any(o => o.ContentPageType == ContentPageType.row4))
{
    <section ctype="@ContentPageType.row3.ExGetDescription()" class="latest-posts p-90-0-90">
        <div class="dots dots-right"></div>
        <div class="container">
            <div class="section-title mb-60">
                <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">@content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row4).Name</span></h2>
            </div>
            <div class="row mb-30">


                @foreach (var row in content.FirstOrDefault(o => o.ContentPageType == ContentPageType.row4).ContentPageChilds.OrderBy(o => o.ContentOrderNo).ThenBy(o => o.Name))
                {
                    var imageUrl = SessionRequest.ImageUrl + row.Documents.FirstOrDefault()?.Link;

                    <div class="col-12 col-lg-4">
                        <a href="@row.Link" class="clickable-card">
                            <div class="card blog-card">
                                <img src="@imageUrl" class="card-img-top" alt="Marketing - Part 2">
                                <div style="min-height:250px !important;" class="card-body">
                                    <h3 class="card-title">

                                        @row.Name

                                    </h3>
                                    <p class="card-text">

                                        @Html.Raw(row.ContentShort)

                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
            @*<div class="row text-center">
                    <a href="/biznasilcalisiriz#id_biz" class="button button-filled" style="margin: 0 auto;">HEPSİNİ GÖR<i class="fas fa-chevron-right"></i></a>
                </div>*@
        </div>
    </section>
}



@if (content.Any(o => o.ContentPageType == ContentPageType.row5 || o.ContentPageType == ContentPageType.formlar))
{
    var row = content.LastOrDefault(o => o.ContentPageType == ContentPageType.row5 || o.ContentPageType == ContentPageType.formlar);


    <div ctype="@row.ContentPageType.ExGetDescription()" id="tmp-join-us">
        <section class="join-us">
            <div class="bg-img" style="background-image: url('img/anasayfa/2.jpg');"></div>
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-12 header-subpage-title text-center">
                            <h3 class="h2 font-lighter color-white mb-30">@Html.Raw(row.Name) <span class="font-bold"></span> </h3>
                            <a href="@row.Link" class="button button-filled">@row.ButtonText1<i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



}












