@{
    var _page = new ContentPage();

    if (_page != null)
    {
        _page = ViewBag.page as ContentPage;

    }




    var url = Context.Request.Path.Value.ToStr().ToLower();

}




<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(@Html.Raw(SessionRequest.config.ImageUrl + _page.BannerImage?.Link)); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">@Html.Raw(_page.Description)</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="content">
    <section class="info p-90-0-90">
        <div class="container">

            @if (_page.Gallery.Any())
            {
                <div class="row justify-content-center">
                    <link rel="stylesheet" href="~/sliderjs/jquery.rondell.css" type="text/css" media="all" title="Screen">
                    <script src="~/sliderjs/modernizr-2.0.6.min.js"></script>

                    <div class="column size1of2 ">
                        <div id="rondellTopDemo">
                            @foreach (var item in _page.Gallery)
                            {
                                var image = item.Link != null && item.Link.Contains("http") ? item.Link : SessionRequest.config.ImageUrl + item.Link;
                                <a target="_blank" rel="rondell_1" href="@image" title="@item.Title">
                                    <img src="@image" alt="@item.Alt" title="@item.Title" />
                                </a>
                            }

                        </div>
                    </div>
                    <style>
                        .rondell-item.rondell-item-focused {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            object-position: 50% 50%;
                            z-index: 0;
                        }
                    </style>
                    <script src="~/sliderjs/jquery.mousewheel-3.0.6.min.js"></script>
                    <script src="~/sliderjs/jquery.rondell.js"></script>

                    <script type="text/javascript">
                        (function () {
                            $("#rondellTopDemo > *").rondell({
                                preset: "carousel",
                                radius: {
                                    x: 300
                                },
                                center: {
                                    //left: 450,
                                    //top: 150
                                },
                                itemProperties: {
                                    size: {
                                        width: 750,
                                        height: 200
                                    }
                                }
                            });

                        }).call(this);

                        $('.rondell-control.rondell-shift-left').html('Geri');
                        $('.rondell-control.rondell-shift-left').css('font-size', '18px');
                        $('.rondell-control.rondell-shift-right').html('İleri');
                        $('.rondell-control.rondell-shift-right').css('font-size', '18px');

                    </script>


                </div>
                <hr />
            }

            <div class="row">
                <h2>@Html.Raw(_page.ContentShort)</h2>
            </div>

            <hr />

            <div class="row">
                <p class="text-justify">@Html.Raw(_page.ContentData)</p>
            </div>

            <hr />

            <div class="row">

                @foreach (var item in _page.Documents)
                {
                    <div style="display:flex;" class="col-md-6">
                        <img src="/assets/img/file.svg" alt="">
                        <a style="top:-20px;margin:10px;" target="_blank" href="@Html.Raw( SessionRequest.config.ImageUrl+ item.Link)" class="download">
                            @Html.Raw(item.Name)    Dökümanını İndir
                        </a>
                    </div>
                }
            </div>


            @if (_page.IsMap == true)
            {
                <br />
                <hr />
                <div class="row myMap">
                    @Html.Raw(SessionRequest.config.Map)
                    <style>
                        .myMap > iframe {
                            width: 100%;
                        }
                    </style>
                    <hr />
                </div>
            }







        </div>
    </section>
</div>


