@using Entity
@{
    Layout = null;
    string pageTitle = "Content";
    string Content_ControlNameUrl = "Content";
    string FormName = "frm_" + Content_ControlNameUrl + "_";
    int Content_idUrl = Context.Request.Query["id"].ToInt();
    var Content_idUrl_select = Context.Request.Query["selectid"].ToStr();
    string title = Content_idUrl > 0 ? (pageTitle + " Düzenle") : (pageTitle + " Kaydet");

    var edit = ViewBag.edit as Content;
    if (edit == null)
    {
        edit = new Content();
    }
    else
    {
        Content_idUrl_select = edit.MenuId.ToStr();
    }

}

<script type="text/javascript">
        var Content_FormName = '@Html.Raw(FormName)';
        var Content_ControlNameUrl = '@Content_ControlNameUrl';
        var Content_idUrl = '@Content_idUrl';
        var Content_idUrl_select = '@Content_idUrl_select';
        var ContentType = '@edit.ContentType';

</script>



<style>
    .modal-dialog {
        width: 75% !important;
    }
</style>



<!-- begin:: Content -->
<div style="width:100%;" class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">

                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(title)
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form name="@FormName" id="@FormName">
                <div class="form-horizontal">
                    <input type="hidden" id="Id" name="Id" value="@edit.Id" />
                    <input type="hidden" id="IsDeleted" name="IsDeleted" value="@edit.IsDeleted" />
                    <input type="hidden" id="IsStatus" name="IsStatus" value="@edit.IsStatus" />
                    <input type="hidden" id="KurumId" name="KurumId" value="1" />





                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentName">@Html.Raw("Sayfa Adı".Trans())</label>
                        <div class="col-md-10">
                            <input required id="ContentName" name="ContentName" placeholder="@Html.Raw("Sayfa Adı".Trans())" value="@edit.ContentName" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="SiteCeo">@Html.Raw("Link".Trans())</label>
                        <div class="col-md-10">
                            <input id="Link" name="Link" placeholder="@Html.Raw("Link".Trans())" value="@edit.Link" class="form-control" type="text">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentTitle">@Html.Raw("Sayfa Başlığı".Trans())</label>
                        <div class="col-md-10">
                            <input id="ContentTitle" name="ContentTitle" placeholder="@Html.Raw("Sayfa Başlığı".Trans())" value="@edit.ContentTitle" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Menü</label>
                        <div class="col-md-10">
                            <select class="form-control" id="dp_MenuId" name="dp_MenuId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Sayfa Tipi</label>
                        <div class="col-md-10">
                            <select class="form-control" id="dp_ContentType" name="dp_ContentType"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentText1">@Html.Raw("İçerik 1".Trans())</label>
                        <div class="col-md-10">
                            <textarea id="ContentText1" name="ContentText1" placeholder="@Html.Raw("İçerik 1".Trans())" class="form-control">@Html.Raw(edit.ContentText1)</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentText2">@Html.Raw("İçerik 2".Trans())</label>
                        <div class="col-md-10">
                            <textarea id="ContentText2" name="ContentText2" placeholder="@Html.Raw("İçerik 2".Trans())" class="form-control">@Html.Raw(edit.ContentText2)</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ContentText3">@Html.Raw("İçerik 3".Trans())</label>
                        <div class="col-md-10">
                            <textarea id="ContentText3" name="ContentText3" placeholder="@Html.Raw("İçerik 3".Trans())" class="form-control">@Html.Raw(edit.ContentText3)</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText1">@Html.Raw("Buton 1 Metin".Trans())</label>
                        <div class="col-md-10">
                            <input value="@edit.ButtonText1" id="ButtonText1" name="ButtonText1" placeholder="@Html.Raw("Buton 1 Metin".Trans())" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText1Link">@Html.Raw("Buton 1 Link".Trans())</label>
                        <div class="col-md-10">
                            <input value="@edit.ButtonText1Link" id="ButtonText1Link" name="ButtonText1Link" placeholder="@Html.Raw("Buton 1 Link".Trans())" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText2">@Html.Raw("Buton 2 Metin".Trans())</label>
                        <div class="col-md-10">
                            <input value="@edit.ButtonText2" id="ButtonText2" name="ButtonText2" placeholder="@Html.Raw("Buton 2 Metin".Trans())" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ButtonText2Link">@Html.Raw("Buton 2 Link".Trans())</label>
                        <div class="col-md-10">
                            <input value="@edit.ButtonText2Link" id="ButtonText2Link" name="ButtonText2Link" placeholder="@Html.Raw("Buton 2 Link".Trans())" class="form-control" type="text">
                        </div>
                    </div>





                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-9">
                            <input id="btnOK" type="submit" value="@title" class="btn btn-brand btn-elevate btn-icon-sm" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- end:: Content -->



<script type="text/javascript">
    var Content_EditFunc;
    $(function () {
        Content_EditFunc = {
            GetParent: function () {
                $('#dp_MenuId').addOptionAjax("/Menus/GetParent", "", "Id", "Name", function () { }, function () { }, Content_idUrl_select, '', 'Seçiniz');
            },
            load: function () {
                $('#' + Content_FormName + ' textarea').each(function () {
                    if (CKEDITOR.instances[$(this).attr('name')])
                        CKEDITOR.instances[$(this).attr('name')].destroy();
                    CKEDITOR.replace($(this).attr('name'));
                });

                $("#ContentName").ceo({ target: "#Link" });

                getContentType("#dp_ContentType", ContentType);

                Content_EditFunc.GetParent();



                $('#' + Content_FormName).submit(function (e) {
                    e.preventDefault();
                    var postModel = $.fn.toForm("#" + Content_FormName);

                    $.LoadingOverlay("show");

                    $.ajx(Content_ControlNameUrl + "/InsertOrUpdate", { postModel: postModel }, function (resultData) {
                        if (resultData.ResultType.RType != 3) {
                            Content_ListFunc.GetPaging();
                            $("#ajaxSub button[data-dismiss='modal']").click();
                        }
                        else {
                            alerts(resultData.ResultType.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });
            },



        };
        Content_EditFunc.load();
    });


    //ayarlar();
</script>



