@{
    var IsHeaderMenu = ViewBag.IsHeaderMenu as List<ContentPage>;
    var IsFooterMenu = ViewBag.IsFooterMenu as List<ContentPage>;

    var header = IsHeaderMenu.Where(o => o.Parent == null).ToList();

    var url = Context.Request.Path.Value.ToStr().ToLower();
}




<div id="tmp-join-us">
    <section class="join-us">
        <div class="bg-img" style="background-image: url('img/anasayfa/2.jpg');"></div>
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 header-subpage-title text-center">
                        <h2 class="h1 font-lighter color-white mb-30">Denemeye <span class="font-bold">Hazır</span> mısın ?</h2>
                        <a href="#" class="button button-filled">BENİ TAKİP <span class="font-bold">ET</span> <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<footer class="footer text-center text-lg-left">
    <div class="container">
        <div class="row footer-link-container">
            <div class="col-6 col-lg-3 footer-section">
                <a class="footer-brand" href="/">
                    <h3 style="color:#fff;font-size:30px;">Kazasker <b>Fen Bilimleri</b></h3>
                </a>
            </div>


            <div class="col-6 col-lg-3 footer-section">
                <h5>Bizim Şirket</h5>
                <ul>
                    @foreach (var menu in header)
                    {
                        var target = menu.Link != null && menu.Link.Contains("http") ? "_blank" : "";
                        var link = (string.IsNullOrEmpty(menu.Link) ? "javascript:void();" : SessionRequest.baseUrl + menu.Link);
                        var cursor = string.IsNullOrEmpty(menu.Link) ? "cursor:default;" : "";

                        <li class="nav-item @Html.Raw(menu.Link.ToLower().Contains(url) ? "active":"")">
                            <a target="@target" href="@link" title="@menu.Name" class="" style="@cursor">@menu.Name</a>
                         
                        </li>
                    }
                </ul>
            </div>
            <div class="col-6 col-lg-3 footer-section">
                <h5><a style="color:#fff;" href="/iletisim">İletişim</a></h5>
                <ul>
                    <li>Telefon: (0216) 464 66 33</li>
                    <li>Adres: 19 Mayıs Mah. Şemsettin Günaltay Cad. NO:135 Kat:1 D:33-34–35, Kazasker/Kadıköy/İstanbul</li>
                    <li>Mail : info@kazaskerfenbilimleri.com</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 order-last order-lg-first col-lg-6 copyright-left">
                <p class="semi-transparent copy mb-15"><span class="align-middle">@Html.Raw(SessionRequest.copyright)</span></p>
            </div>
            <div class="col-12 order-1 order-lg-last col-lg-6 copyright-right">
                <ul class="social-list">
                    <li><a href="https://www.instagram.com/kazaskerfenbilimleri/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://facebook.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-twitter"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>