@{
    var IsHeaderMenu = ViewBag.IsHeaderMenu as List<ContentPage>;
    var IsFooterMenu = ViewBag.IsFooterMenu as List<ContentPage>;

    var header = IsHeaderMenu.Where(o => o.Parent == null).ToList();

    var url = Context.Request.Path.Value.ToStr().ToLower();
}




<nav id="navigation" class="navbar navbar-expand-lg bg-scroll">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h3 style="color:#fff;font-size:30px;">
                <img style="width:15%;" src="~/index_files/logocheck.png" />
                @{var titles = SessionRequest.config.Title.Split(" ").ToList();
                    var title = ""; var i = 0;
                    titles.ForEach(o =>
                    {
                        i++;
                        if (i == titles.Count) title += "<b>" + o + "</b>";
                        else title += o + " ";
                    });
                }
                @Html.Raw(title)
            </h3>
        </a>

        <a class="navbar-brand navbar-brand-dark" href="/">
            <h3 style="font-size:30px;">
                <img style="width:15%;" src="~/index_files/logocheck.png" />
                @{ titles = SessionRequest.config.Title.Split(" ").ToList();
                    title = ""; i = 0;
                    titles.ForEach(o =>
                    {
                        i++;
                        if (i == titles.Count) title += "<b style='color:#b12028'>" + o + "</b>";
                        else title += o + " ";
                    });
                }
                @Html.Raw(title)

            </h3>
        </a>
        <a href="/" class="mobile-nav-show">
            <i class="fas fa-bars"></i>
        </a>
        <div class="collapse navbar-collapse no-transition" id="navbarMenu">
            <div class="mobile-nav-header">
                <a class="logo" href="/">
                    <h3 style="color:#fff;font-size:30px;">
                        <img style="width:15%;" src="~/index_files/logocheck.png" />

                        @{ titles = SessionRequest.config.Title.Split(" ").ToList();
                            title = ""; i = 0;
                            titles.ForEach(o =>
                            {
                                i++;
                                if (i == titles.Count) title += "<b style='color:#b12028'>" + o + "</b>";
                                else title += o + " ";
                            });
                        }
                        @Html.Raw(title)

                    </h3>
                </a>
                <a href="#" class="mobile-nav-hide">
                    <img src="~/index_files/close-light-20-20.c99bdb80.png" alt="Close" />
                </a>

            </div>
            <style>
                .subitem-ul {
                    position: absolute;
                    z-index: 99999;
                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(30px);
                    transition: opacity 0.2s, transform 0.3s;
                    list-style: none;
                }

                .citem:hover > .subitem-ul {
                    opacity: 1;
                    Transform: translateY(0px);
                    Pointer-events: all;
                    Background-color: rgba(40, 40, 40, 0.70);
                }

                .citem > .subitem-ul > li {
                    color: black;
                }
            </style>
            <ul class="navbar-nav ml-auto">

                @foreach (var menu in header)
                {
                    var target = menu.Link != null && menu.Link.Contains("http") ? "_blank" : "";
                    var link = (string.IsNullOrEmpty(menu.Link) ? "javascript:void();" : (menu.Link.Contains("http") ? menu.Link : SessionRequest.config.BaseUrl + menu.Link));
                    var cursor = string.IsNullOrEmpty(menu.Link) ? "cursor:default;" : "";
                    var sublist = IsHeaderMenu.Where(o => o.ContentPageId == menu.Id).OrderBy(o => o.ContentOrderNo).ThenBy(o => o.Name);

                    var active = "";
                    if (menu.Link.ToLower() == ("/"))
                    {
                        link = "/";
                        if (menu.Link.ToLower() == url)
                            active = " active";
                    }

                    if (menu.Link.ToLower().Contains(url.Replace("/", "")) && url.Replace("/", "") != "")
                    {
                        active = " active";
                    }

                    if (sublist.Any())
                    {
                        link = "javascript:void();";
                        cursor = "cursor:default;";
                    }

                    <li style="" class="citem nav-item @active">
                        <a target="@target" href="@link" title="@menu.Name" class="nav-link" style="@cursor">@menu.Name</a>
                        <ul class="subitem-ul">
                            @foreach (var submenu in sublist)
                            {

                                var targetsub = submenu.Link != null && submenu.Link.Contains("http") ? "_blank" : "";
                                var linksub = (string.IsNullOrEmpty(submenu.Link) ? "javascript:void();" : SessionRequest.config.BaseUrl + submenu.Link);
                                var cursorsub = string.IsNullOrEmpty(submenu.Link) ? "cursor:default;" : "";

                                active = "";
                                if (submenu.Link.ToLower().Contains(url.Replace("/", "")))
                                {
                                    active = " active";
                                }

                                <li class="nav-item @active">
                                    <a target="@targetsub" href="@linksub" title="@submenu.Name" class="nav-link" style="text-transform: none;font-size:11px; @cursorsub">
                                        @submenu.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }


            </ul>
            <div class="mobile-nav-footer">
                <ul class="social-list">
                    <li><a href="https://www.instagram.com/@SessionRequest.config.Instagram/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://facebook.com/@SessionRequest.config.Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/@SessionRequest.config.Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
                <p class="semi-transparent copy">@Html.Raw(SessionRequest.config.version)</p>
            </div>
        </div>
    </div>
</nav>
