@using Entity.CMSDB
@{
    Layout = null;
    string pageTitle = "Kurum";
    string Kurum_ControlNameUrl = "Kurum";
    string FormName = "frm_" + Kurum_ControlNameUrl + "_";
    int Kurum_idUrl = Context.Request.Query["id"].ToInt();
    var Kurum_idUrl_select = Context.Request.Query["selectid"].ToStr();
    string title = Kurum_idUrl > 0 ? (pageTitle + " Düzenle") : (pageTitle + " Kaydet");

    var edit = ViewBag.edit as Kurum;
    if (edit == null)
    {
        edit = new Kurum();
    }
    else
    {
        //Kurum_idUrl_select = edit.UstKurumId.ToStr();
    }

}

<script type="text/javascript">
        var Kurum_FormName = "@Html.Raw(FormName)";
        var Kurum_ControlNameUrl = "@Kurum_ControlNameUrl";
    var Kurum_idUrl = @Kurum_idUrl;

</script>



<style>
    .modal-dialog {
        width: 75% !important;
    }
</style>



<!-- begin:: Content -->
<div style="width:100%;" class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">

                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(title)
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form name="@FormName" id="@FormName">
                <div class="form-horizontal">
                    <input type="hidden" id="Id" name="Id" value="@edit.Id" />
                    <input type="hidden" id="IsDeleted" name="IsDeleted" value="@edit.IsDeleted" />
                    <input type="hidden" id="IsStatus" name="IsStatus" value="@edit.IsStatus" />



                    <div class="form-group">
                        <label class="control-label col-md-2" for="Ad">@Html.Raw("Kurum Adı".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Ad" name="Ad" placeholder="@Html.Raw("Kurum Adı".Trans())" value="@edit.Ad" class="form-control" type="text">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Şehir</label>
                        <div class="col-md-10">
                            <select required class="form-control" id="dp_SehirId" name="dp_SehirId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">İlçe</label>
                        <div class="col-md-10">
                            <select required class="form-control" id="dp_IlceId" name="dp_IlceId"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" for="Adres">@Html.Raw("Adres".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Adres" name="Adres" placeholder="@Html.Raw("Adres".Trans())" value="@edit.Adres" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Telefon">@Html.Raw("Telefon".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Telefon" name="Telefon" placeholder="@Html.Raw("Telefon".Trans())" value="@edit.Telefon" class="form-control" type="tel">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Cep">@Html.Raw("Cep".Trans())</label>
                        <div class="col-md-10">
                            <input id="Cep" name="Cep" placeholder="@Html.Raw("Cep".Trans())" value="@edit.Cep" class="form-control" type="tel">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Mail">@Html.Raw("Mail".Trans())</label>
                        <div class="col-md-10">
                            <input required id="Mail" name="Mail" placeholder="@Html.Raw("Mail".Trans())" value="@edit.Mail" class="form-control" type="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="TicariUnvan">@Html.Raw("Ticari Unvan".Trans())</label>
                        <div class="col-md-10">
                            <input required id="TicariUnvan" name="TicariUnvan" placeholder="@Html.Raw("TicariUnvan".Trans())" value="@edit.TicariUnvan" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="VergiNo">@Html.Raw("Vergi No".Trans())</label>
                        <div class="col-md-10">
                            <input required id="VergiNo" name="VergiNo" placeholder="@Html.Raw("Vergi No".Trans())" value="@edit.VergiNo" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="VergiDairesi">@Html.Raw("Vergi Dairesi".Trans())</label>
                        <div class="col-md-10">
                            <input required id="VergiDairesi" name="VergiDairesi" placeholder="@Html.Raw("Vergi Dairesi".Trans())" value="@edit.VergiDairesi" class="form-control" type="text">
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-9">
                            <input id="btnOK" type="submit" value="@title" class="btn btn-brand btn-elevate btn-icon-sm" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- end:: Content -->





<script type="text/javascript">
    var Kurum_EditFunc;
    var customComment = "";
    $(function () {
        Kurum_EditFunc = {
            getSehir: function () {
                $('#dp_SehirId').addOptionAjax("/City/GetSelect", null, "value", "text", function () { Kurum_EditFunc.getIlce() }, function () {Kurum_EditFunc.getIlce() }, '@edit.SehirId', '', 'Seçiniz');
            },
              getIlce: function () {
                  $('#dp_IlceId').addOptionAjax("/Town/GetSelect", {id: $('#dp_SehirId').val()}, "value", "text", function () { }, function () { }, '@edit.IlceId', '', 'Seçiniz');
            },

            load: function () {
                Kurum_EditFunc.getSehir();


                $('#' + Kurum_FormName).submit(function (e) {
                    e.preventDefault();
                    var postModel = $.fn.toForm("#" + Kurum_FormName);
                    $.LoadingOverlay("show");

                    $.ajx(Kurum_ControlNameUrl + "/InsertOrUpdate", { postModel: postModel }, function (resultData) {
                        if (resultData.ResultType.RType != 3) {
                            Kurum_ListFunc.GetPaging();
                            $("#ajaxSub button[data-dismiss='modal']").click();
                        }
                        else {
                            alerts(resultData.ResultType.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });
            },



        };
        Kurum_EditFunc.load();
    });


    //ayarlar();
</script>



